:root {
  --primary: #ffbd09;
  --success-color: #4CAF50;
  --error-color: #dc2626;
  --warning-color: #ff9800;
  --info-color: #0284c7;
  --radius: 16px;
  --adm-color-primary: var(--primary) !important;
  --adm-color-background: var(--primary-bg-color) !important;
  --adm-card-border-radius: var(--radius) !important;
  --adm-color-text: rgba(255, 255, 255, 0.5) !important;
}

.light {
  --primary-font-color: #f8f9fa;
  --primary-text-color: #ffbd09;
  --secondary-text-color: #5c6064;
  --tertiary-text-color: #d1d5db;
  --primary-bg-color: #1a1a1a;
  --primary-body-color: #242424;
  --primary-card-body-color: #2d2d2d;
  --primary-border-color: rgba(255, 255, 255, 0.08);
}

.dark {
  --primary-font-color: #f8f9fa;
  --primary-text-color: #ffbd09;
  --secondary-text-color: #5c6064;
  --tertiary-text-color: #d1d5db;
  --primary-bg-color: #141414;
  --primary-body-color: #1c1c1c;
  --primary-card-body-color: #262626;
  --primary-border-color: rgba(255, 255, 255, 0.08);
}

html body {
  background: var(--primary-bg-color);
  color: var(--primary-font-color);
}
