.memes-card {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
  .card {
    z-index: 1;
    overflow: hidden;
  }
  .card-animation {
    &::after {
      content: "";
      z-index: -2;
      position: absolute;
      width: 20%;
      height: 350%;
      left: 40%;
      top: -125%;
      will-change: transform;
      animation: rotate 5s linear infinite;
      @apply bg-gradient-to-b from-[#A440FD] to-[#0DC8EC] blur-lg;
    }
  }
}
