:root {
  --adm-color-primary: var(--primary) !important;
  --adm-color-background: var(--primary-bg-color) !important;
  --adm-card-border-radius: var(--radius) !important;
  --adm-color-text: rgba(255, 255, 255, 0.5) !important;
}
